body, html {
 height: 100%;
 margin: 0;
 font: 400 15px/1.8 "Lato", sans-serif;
 color: #777;
}

.bgimg {
 position: relative;
 opacity: 0.65;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url("random.jpeg");
 height: 100%;
}